.git
*.py[co]
.Python
.DS_Store
.coverage
.env
/db.sqlite3
/bin/
/build/
/docs/_build/
/include/
/lib/
/local
/man/
/passwd
/public/
/share/
/src/
/venv/
project/local_settings.py
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
