container_commands:
  00collectstatic:
    command: "django-admin.py collectstatic --noinput"
    leader_only: true
  01syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_DEBUG: "True"
    DJANGO_SETTINGS_MODULE: "project.settings"
    PYTHONPATH: "/opt/python/current/app/project:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "project/wsgi.py"
