<!doctype html>{% load staticfiles %}
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Issue Stand is the easiest and fastest mobile publishing tool. We help small to medium publishers take their first steps in the world of digital press." >

    <meta property="og:image" content="https://issuestand.com{{ STATIC_URL }}img/issue_stand_logo.png" />
    <meta property="og:type" content="product" />

    <title>Alumna | connection</title>

    <!--JS FILES STARTS-->
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

    <!--GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display|Satisfy' rel='stylesheet' type='text/css'>

    <!--CSS FILES STARTS-->
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

    <script type="text/javascript">
      var _gaq = _gaq || [];
    </script>

{% block head %}{% endblock %}
{% block extraheader %}{% endblock %}

  </head>
  <body>

    <div id="nav">
      <div class="wrapper">
        <a href="/"
          style="font-weight: normal; font-family: 'Playfair display', cursive; font-size: 1.6em;" >
          {# <img src="{% static "img/logo.png" %}" alt="Issue Stand" class="logo" /> #} Alumna Network
        </a>
        <ul>
          <li><h3><a href="/how-it-works/">How it works</a></h3></li>
          <li><h3><a href="/networks/">Networks</a></h3></li>
{% if user.is_anonymous %}
          <li class="highlighted"><a href="/auth/login/" rel="nofollow">Sign in</a></li>
          <li class="highlighted"><a href="/auth/login/{# register/ #}" rel="nofollow">Sign up</a></li>
{% else %}
          <li class="highlighted"><a href="{# /profile/{{ user.person.slug }} #}" rel="nofollow">Hello {{ user }}!</a></li>
{% endif %}
        </ul>
        <div class="clr"></div>
      </div>
    </div>

    <div id="social">
      <p><a href="http://facebook.com/" target="_blank"><i class="icon-facebook-sign icon-large"></i></a></p>
      <p><a href="http://twitter.com/alumnanet" target="_blank"><i class="icon-twitter-sign icon-large"></i></a></p>
      <p><a href="https://plus.google.com/" target="_blank"><i class="icon-google-plus-sign icon-large"></i></a></p>
      <p><a href="http://www.linkedin.com/" target="_blank"><i class="icon-linkedin-sign icon-large"></i></a></p>
      {# <p><a href="http://blog.issuestand.com/" target="_blank"><i class="icon-tumblr-sign icon-large"></i></a></p> #}
      <!--<p><a href="http://eepurl.com/GP7U1" target="_blank">
          <span class="icon-stack">
            <i class="icon-sign-blank icon-stack-base" style=""></i>
            <i class="icon-envelope-alt icon-light"></i>
          </span>
      </a></p>-->
    </div>
        <div class="clr"></div>
<br>
<br>
<br>

{% block content %}{% endblock %}

<footer>
  <div class="wrapper">
    <ul>
      <a href="/"
          style="font-weight: normal; font-family: 'Playfair display', cursive; font-size: 1.5em;" >
          Alumna Network
        </a>
      {# <img src="{% static "img/logo_footer.png" %}" class="logo" /> #}
    </ul>
    <ul>
      {# <li class="header">Product</li> #}
      <li><a href="/" rel="nofollow">Homepage</a></li>
      <li><a href="/how-it-works/" rel="nofollow">How it works</a></li>
    </ul>
    <ul>
      <li class="header">Help & support</li>
      {# <li><a href="http://blog.alumna/" rel="nofollow">Blog</a></li> #}
      {# <li><a href="http://www.youtube.com/issuestand" rel="nofollow">Videos</a></li> #}
      {# <li><a href="http://www.slideshare.net/issuestand" rel="nofollow">Presentations</a></li> #}
      <li><a href="/contact/" rel="nofollow">Contact us</a></li>
    </ul>
    <ul>
      <li class="header">Community</li>
      <li><a href="http://twitter.com/alumnanet" rel="nofollow">Twitter</a></li>
      <li><a href="http://facebook.com/alumna" rel="nofollow">Facebook</a></li>
      {# <li><a href="https://plus.google.com//posts" rel="nofollow">Google+</li> #}
      {# <li><a href="http://www.linkedin.com/company/alumna" rel="nofollow">LinkedIn</a></li> #}
    </ul>
    <ul>
      <li class="header">Legal</li>
      <li><a href="/terms/" rel="nofollow">Terms of Use</a></li>
      <li><a href="/privacy/" rel="nofollow">Privacy</a></li>
    </ul>

    <div class="clr"></div>

  </div>
</footer>

</body>
<!--BODY ENDS  -->
</html>
<!--HTML ENDS  -->
