{% extends 'base.html' %}

{% block head %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '393728747486603',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="signinButton">
    <span id="signinButton">
        <span
            class="g-signin"
            data-callback="signInCallback"
            data-clientid="{{ plus_id }}"
            data-cookiepolicy="single_host_origin"
            data-requestvisibleactions="http://schemas.google.com/AddActivity"
            data-scope="https://www.googleapis.com/auth/plus.login">
        </span>
    </span>
</div>
{% endblock %}


{% block content %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">

              <ul>
<h2>Twitter</h2>
<p>
<li>
  <a class="btn btn-lg btn-primary btn-block" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Register with Twitter</a>
</li>
</p>
<br>
<br>
<br>
<h2>Create an Account with Username</h2>
<li>
  <form id="google-plus" method="post" action=".">
    {% csrf_token %}
    <input type='hidden' name='csrfmiddlewaretoken' value='JrRFXt1GMOjPZzTYqAQyUgh9YB5AGzPQ' />
    <li>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input id="id_username" class="form-control" placeholder="Email address" maxlength="30" name="username" type="text" />
    </li>
<li><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password" class="form-control" placeholder="Password" required></li>
<li><label for="id_password2">Password confirmation:</label> <input id="id_password2" name="password2" type="password" class="form-control" placeholder="Enter same password for confirmation." required /> </li>
    <li><input class="btn btn-lg btn-primary btn-block" type=submit></li>
  </form>
</li>
   </ul>


            </div>
        </div>
    </header>


{% if user and not user.is_anonymous %}

{% else %}
<div>
   <h1>Register</h1>

   <ul>

     {% comment %}

              <!-- signin -->
                    <div class="signin">
                      <div class="logo">
                        <img src="" alt="logo">
                      </div>
                      <form class="form-signin">

                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="remember-me"> Remember me
                          </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                      </form>
                    </div>
                <!-- signin -->

<h1>Log in</h1>
<h2>Twitter</h2>
<p><a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a></p>
<h2>Email</h2>
<ul>
  <li>  <a href="{% url 'auth:login' %}?next={{ request.path }}">Login with Twitter</a></li>
</ul>


<li>
  <a href="{# url 'social:begin' 'facebook' %}?next={{ request.path }} #}">Login with Facebook</a>
</li>
<li>
  <form id="google-plus" method="post" action="{% url 'social:complete' "google-plus" %}">
    {% csrf_token %}
    <input id="at" type="hidden" name="access_token" value="" />
    <input id="code" type="hidden" name="code" value="" />
  </form>
</li>
{% endcomment %}




{% endif %}






 </div>
{% endblock %}
