{% extends 'base.html' %}

{% block head %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '393728747486603',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="signinButton">
    <span id="signinButton">
        <span
            class="g-signin"
            data-callback="signInCallback"
            data-clientid="{{ plus_id }}"
            data-cookiepolicy="single_host_origin"
            data-requestvisibleactions="http://schemas.google.com/AddActivity"
            data-scope="https://www.googleapis.com/auth/plus.login">
        </span>
    </span>
</div>
{% endblock %}


{% block content %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">

              <ul>
{# <h2>Twitter</h2> #}
<p>
<li>
  <a class="btn btn-lg btn-primary btn-block" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Register with Twitter</a>
</li>
</p>

{% comment %}
<h2>Create an Account with Username</h2>
  <form method="post" action=".">
    {% csrf_token %}
<ul>
    <li>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input id="id_username" class="form-control" placeholder="Email address" maxlength="30" name="username" type="text" />
    </li>
    <li><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password" class="form-control" placeholder="Password" required></li>
    <li><label for="id_password2">Password confirmation:</label> <input id="id_password2" name="password2" type="password" class="form-control" placeholder="Enter same password for confirmation." required /> </li>
    <li><input class="btn btn-lg btn-primary btn-block" type="submit"></li>
</ul>
  </form>
{% endcomment %}


            </div>
        </div>
    </header>


{% if user and not user.is_anonymous %}

{% else %}




{% endif %}






 </div>
{% endblock %}
