{% extends 'base.html' %}

{% block content %}

<div id="background_parallax" data-speed="2" data-type="background">
  <div id="tagline">
    <h1
       style="font-weight: normal; font-family: 'Satisfy', cursive;"
       >
      Connect with your friends<br> from <a href="/events/">this</a> event!
    </h1>
    <p>Easily stay in contact with your new and old friends in your community.</p>

    <div class="cls"></div>
    <form id="form-login" action="." class="formular" method="post" autocomplete="off">
      {% csrf_token %}
      <!-- fake inputs to prevent Chrome from autofiling inputs -->
      <input type="text" style="display:none;" />
      <input type="password" style="display:none;" />
      <!-- end fake inputs to prevent Chrome from autofiling inputs -->
      <table>
      {{ form.as_table }}
      </table>
     <input type="submit" name="go" value="Join!" />
    </form>

    <div class="disclaimer">This is an exclusive network. <br><a href="/privacy/">Privacy</a> is paramount and in joining
      you agree to <a href="/terms/">terms</a> and <a href="/conduct/">conduct</a> guidelines.</div>
  </div>
</div>

<div id="features">
  <div class="wrapper">

    <div class="feature">
      {# <img src="/static/img/feature_2.png" /> #}
      <h2>Share Skills & Interests</h2>
      Looking for trusted, like minded people to share your interests?
    </div>

    <div class="feature">
      {# <img src="/static/img/feature_1.png" /> #}
      <h2>Learn & Teach</h2>
      Share your wisdom!<br>Find help from friends in a safe place.
    </div>

    <div class="feature" style="margin-right: 0px;">
      {# <img src="/static/img/feature_3.png" /> #}
      <h2>Don't miss any upcoming local events!</h2>
      Receive regular notices about the goings on in regions of your choice.
    </div>

    <div class="clr"></div>

    <a href="/" class="cta">Join us!</a>
    <span>or <a href="/contact/">contact us</a></span>
  </div>
</div>

{% endblock %}


<div id="howitworks">
  <div id="howitworks-content-static">
    <h2>How it works?</h2>

    <div class="step1">
      {# <img src="/static/img/hiw_step1.png" /> #}
      <h3></h3>
      <p></p>
    </div>

    <div class="step2">
      {# <img src="/static/img/hiw_step2.png" /> #}
      <h3></h3>
      <p></p>
    </div>

    <div class="step3">
      {# <img src="/static/img/hiw_step3.png" /> #}
      <h3></h3>
      <p></p>
    </div>

    <div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>
